#main{
  background-color: #DDA0DD;
  width: 80%;
  text-align:center;
  border-radius: 20px;
}

.title{
color: black;
display:inline;
background-color: white;
}

p{
  font-size: 20px;
}

.txt_name, .txt_friend{
  font-family: 'DungGeunMo';
  text-align: center;
  font-size:20px;
  width:50%;
}


.subtext{
  font-family: 'DungGeunMo';
  text-align: center;
  font-size:20px;
}
