#qna{
  display:none;
}

.qBox{
  background-color: #DDA0DD;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
}

.answerList{
  background-color: #DDA0DD;
  border-radius: 20px;
  display:block;
  width: 50%;
  font-size:20px;
}


.answerList:hover, .answerList:focus{
  background-color: pink;
  color: #CD5C5C	;
}

.status{
  height:20px;
  background-color: white;
  border-radius: 20px;
}

.statusBar{
  height:100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
  border-radius: 20px;
  opacity: 90%;

}
