#result{
  display:none;
  background-color: #DDA0DD;
  width: 80%;
  text-align:center;
  border-radius: 20px;
}

.resultName{
  font-size: 35px;
}

.kakao{
  color:black;
  background-color: #FEE500;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.study{
  color:black;
  background-color: whitesmoke;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}


.goback{
  color:black;
  background-color: lightblue;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}


.kakao:hover, .kakao:focus{
  background-color: black;
  color: #FEE500;
}

.study:hover, .study:focus{
  background-color: black;
  color: whitesmoke;
}

.goback:hover, .goback:focus{
  background-color: black;
  color: lightblue;
}


.resultDesc, .subtext, .txt_name, .txt_friend, .friendName{
  font-family: 'DungGeunMo';
  text-align: center;
  font-size:20px;
}
